@import 'extand';
@import 'variable';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
}

a {
  text-decoration: none;
  color: $link-color;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
  padding: 0px 36px;
}

header {
  background-color: $primary;
}

h1>a {
  @extend %img-rplc-text;
  @extend %background;
  display: block;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png");
  width: 80px;
  height: 48px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  gap: 64px;

  a {
    display: block;
  }
  a:hover{
    text-decoration: underline;
  }
}

.banner {
  @extend %background;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  padding: 296px 0px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link-btn {
  display: block;
  padding: 6px 12px;
  background-color: $primary;
}

.feature {
  background-color: $third;
  padding: 80px 0px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 306px;

  img {
    width: 84px;
  }
}

.classic {
  padding-top: 80px;
  padding-bottom: 80px;
}

.classic-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;

  img {
    width: 416px;
    display: block;
  }
}


.collaborate {
  @extend %background;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  padding: 80px 0px;
}

.collaborate-list {
  display: flex;
}

.collaborate-list-card {
  img {
    width: 648px;
    display: block;
  }
}

.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reviews-list {
  display: flex;
  gap: 24px;
}

.reviews-list-card {
  width: 306px;

  img {
    display: block;
  }

  .reviews-list-card-content {
    p {
      height: 72px;
    }

    padding: 16px;
  }
}

.date {
  font-size: 14px;
  color: $gray;
}

.contact {
  background-color: $third;
  padding: 80px 0px;
}

.contact-container {
  max-width: 708px;
  padding: 0px 36px;
  margin: 0 auto;
}

.contact-us {
  input[type="text"] {
    background-color: $third;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #000;
    font-size: 16px;
  }

  .contact-us-feedback {
    height: 136px;
    vertical-align: top;
    background-color: $third;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 16px 176px;
    border: 0px;
  }
  input[type="submit"]:hover {
    text-decoration: underline;
  }
}

.footer {
  background-color: $primary;
}

.social-linklist-item {
  width: 48px;
}

.policy-link{
  font-size: 14px;
}

@media(max-width:992px) {
  .banner {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
  }

  .feature-list {
    flex-wrap: wrap;
    margin: 0px -12px;
    gap: 0;
  }

  .feature-list-card {
    width: 49.9%;
    padding: 0px 12px;
  }

  .classic {
    padding: 80px 0px;
  }

  .classic-list {
    flex-direction: column;
  }

  .collaborate {
    @extend %background;
    background-position: top;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
  }

  .collaborate-list {
    flex-direction: column;
    align-items: center;
  }

  .reviews-list {
    flex-wrap: wrap;
    gap: 0px;
    margin: 0px -12px;
  }

  .reviews-list-card {
    width: 49.9%;
    padding: 0px 12px;
  }

  .contact-container {
    max-width: 648px;
  }
  .contact-us {  
    input[type="submit"] {
      padding: 16px 136px;
    }
 
  }
}

@media(max-width:576px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .nav {
    margin: 0px -12px;
    padding: 0px;
    gap: 0px;
    flex-wrap: wrap;

    li {
      width: 49.9%;
      border: 1px solid #FFFFFF;
    }

    a {
      text-align: center;
      padding: 12px 60px;
    }
    
  }

  .banner {
    padding: 144px 0px;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .link-btn {
    display: block;
    padding: 6px 12px;
    background-color: $primary;
  }

  .feature {
    padding: 40px 0px;
  }

  .feature-list-card {
    width: 100%;
    padding-bottom: 24px;
  }

  .feature-list-card:last-child {
    padding-bottom: 0px;
  }

  .classic {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .reviews{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reviews-list-card {
    margin-bottom: 16px;
    width: 100%;
  }
  .reviews-list-card:last-child {
    margin-bottom: 0px
  }
  .contact{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contact-container {
    padding: 0px 12px;
  }
  .contact-us {  
    input[type="submit"] {
      padding: 16px 0px;
      width: 100%;
    }
  }
  .social-linklist-item{
    max-width: 24px;
  }
}

.d {
  &-flex {
    display: flex;
  }

  &-block {
    display: block;

  }

  &-none{
    display: none;
  }
}

.flex-direction {
  &-column {
    flex-direction: column;
  }
}
.align-items{
  &-start{
    align-items: flex-start;
  }
}
.justfy-content {
  &-between {
    justify-content: space-between;
  }
}

.gap {
  &-1{
    gap:4px
  }
  &-2{
    gap:8px
  }
  &-8 {
    gap: 32px;
  }

  &-12 {
    gap: 48px;
  }

  &-16 {
    gap: 64px;
  }
}

.font-size {
  &-4 {
    font-size: 16px;
  }

  &-5 {
    font-size: 20px;
  }

  &-6 {
    font-size: 24px;
  }

  &-9 {
    font-size: 36px;
  }

  &-12 {
    font-size: 48px;
  }

  &-16 {
    font-size: 64px;
  }
}

.font-style {
  &-italic {
    font-style: italic;
  }
}

.font-weight {
  &-bold {
    font-weight: bold;
  }
}

.m {
  &b {
    &-1 {
      margin-bottom: 4px;
    }

    &-2 {
      margin-bottom: 8px;
    }

    &-4 {
      margin-bottom: 16px;
    }

    &-6 {
      margin-bottom: 24px;
    }

    &-8 {
      margin-bottom: 32px;
    }

    &-12 {
      margin-bottom: 48px;
    }
  }
  &l{
    &-auto{
      margin-left:auto;
    }
  }
  &y {
    &-2 {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

.p {
  &-0 {
    padding: 0px;
  }

  &t {
    &-4 {
      padding-top: 16px;
    }

    &-12 {
      padding-top: 48px;
    }
  }

  &b {
    &-4 {
      padding-bottom: 16px;
    }

    &-8 {
      padding-bottom: 32px;
    }
  }
}

.text-align {
  &-center {
    text-align: center;
  }
}

.color {
  &-primary {
    color: $primary;
  }

  &-light {
    color: $light
  }
}

.bg {
  &-primary {
    background-color: $primary;
  }

  &-light {
    background-color: $light;
  }

  &-third {
    background-color: $third;
  }
}

.shadow {
  box-shadow: 0px 2px 6px #00000029;
}

.vertical-align {
  &-middle {
    vertical-align: middle;
  }
}


@media(max-width:992px){
  .m{
    &b-lg{
      &-6{
        margin-bottom: 24px;
      }
    }
  }
  .p{
    &b-lg{
      &-10{
        padding-bottom: 40px;
      }
    }
  }
} 

@media(max-width:576px) {
  .d-sm {
    &-flex{
      display: flex;
    }
    &-block {
      display: block;
    }
    &-none{
      display: none;
    }
  }
  .flex-direction-sm{
    &-column{
      flex-direction: column;
    }
  }
  .m {
    &b-sm {
      &-5 {
        margin-bottom: 20px;
      }
      &-6 {
        margin-bottom: 24px;
      }
    }
    &l-sm {
      &-auto {
        margin-left:auto;
      }
    }
  }

  .p{
    &t-sm{
      &-6{
        padding-top: 24px;
      }
    }
    &b-sm{
      &-6{
        padding-bottom: 24px;
      }
    }
  }
  .font-size-sm {
    &-4 {
      font-size: 16px;
    }

    &-5 {
      font-size: 20px;
    }

    &-6 {
      font-size: 24px;
    }
  }
  .gap-sm{
    &-2{
      gap: 8px;
    }
  }
}